# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      # Package.swift depends on ../frida-swift (sibling directory)
      - name: Clone frida-swift
        run: |
          cd ..
          git clone https://github.com/micheltlutz/frida-swift.git frida-swift

      - name: Build
        run: swift build -v

      - name: Run tests
        run: swift test -v
